.choferes-registros {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1140px;
  min-height: 100vh;
  position: relative;
}

.choferes-registros .botones {
  position: absolute;
  top: 25px;
  left: 20px;
  width: 192px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #d5d6d6;
  border-radius: 55px;
}

.choferes-registros .alumnos {
  margin-left: 31px;
  width: 120px;
  height: 135px;
  position: relative;
  margin-top: 34px;
  background-color: #919ec0;
  border-radius: 41px;
  overflow: hidden;
  border: 0px solid;
  box-shadow: 0px 4px 4px #00000040;
  aspect-ratio: 1;
}

.choferes-registros .iconalum {
  position: absolute;
  top: calc(50.00% - 32px);
  left: calc(50.00% - 60px);
  width: 118px;
  height: 50px;
  aspect-ratio: 2;
}

.choferes-registros .iconalum-name {
  top: 85px;
  left: 25px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 550;
  font-size: 16px;
  text-align: center;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .pagos {
  margin-left: 28px;
  width: 125px;
  height: 129px;
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  gap: 2.8px;
  background-color: #919ec0;
  border-radius: 41px;
  overflow: hidden;
  border: 0px solid;
  box-shadow: 0px 4px 4px #00000040;
  aspect-ratio: 1;
}

.choferes-registros .iconpag {
  position: absolute;
  top: calc(50.00% - 40px);
  left: calc(50.00% - 60px);
  width: 118px;
  height: 65px;
  aspect-ratio: 2;
}

.choferes-registros .iconpag-name {
  top: 82px;
  left: 38px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 550;
  font-size: 16px;
  text-align: center;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .registros {
  margin-left: 29px;
  width: 125px;
  height: 129px;
  position: relative;
  margin-top: 23px;
  background-color: #919ec0;
  border-radius: 41px;
  overflow: hidden;
  border: 0px solid;
  box-shadow: 0px 4px 4px #00000040;
  aspect-ratio: 1;
}

.choferes-registros .iconreporte {
  position: absolute;
  top: calc(50.00% - 42px);
  left: calc(50.00% - 45px);
  width: 90px;
  height: 70px;
}

.choferes-registros .iconlibro {
  position: absolute;
  width: 21.85%;
  top: calc(50.00% - 27px);
  left: 55.26%;
  height: 40px;
}

.choferes-registros .iconlibro-name {
  position: absolute;
  width: 40%;
  height: 11.09%;
  top: 78.15%;
  left: 22.05%;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 550;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.choferes-registros .rutas {
  margin-left: 29px;
  width: 129px;
  height: 129px;
  position: relative;
  margin-top: 16px;
  background-color: #919ec0;
  border-radius: 41px;
  overflow: hidden;
  border: 0px solid;
  box-shadow: 0px 4px 4px #00000040;
  aspect-ratio: 1;
}

.choferes-registros .iconrut {
  position: absolute;
  top: 12px;
  left: calc(50.00% - 38px);
  width: 70px;
  height: 67px;
}

.choferes-registros .iconrut-name {
  position: absolute;
  height: 13.09%;
  top: 78.99%;
  left: calc(50.00% - 22px);
  width: 35px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 550;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.choferes-registros .table {
  position: absolute;
  top: 162px;
  left: 355px;
  width: 844px;
  height: 457px;
}

.choferes-registros .group-table {
  position: absolute;
  top: 0;
  left: 0;
  width: 844px;
  height: 457px;
}
 
.choferes-registros .last {
  position: absolute;
  top: 0;
  left: 0;
  width: 835px;
  height: 457px;
  background-color: #919ec0a8;
}

.choferes-registros .post {
  position: absolute;
  top: 26px;
  left: 27px;
  width: 775px;
  height: 399px;
  background-color: #d9d9d9;
}

.choferes-registros .rectangle {
  position: absolute;
  top: 372px;
  left: 38px;
  width: 752px;
  height: 32px;
}

.choferes-registros .linea-7 {
  position: absolute;
  top: 374px;
  left: 38px;
  width: 752px;
  height: 32px;
  background-color: #eeeeee;
}

.choferes-registros .linea-6 {
  position: absolute;
  top: 326px;
  left: 38px;
  width: 752px;
  height: 32px;
  background-color: #abbbe4;
}

.choferes-registros .linea-5 {
  position: absolute;
  top: 278px;
  left: 38px;
  width: 752px;
  height: 32px;
  background-color: #eeeeee;
}

.choferes-registros .linea-4 {
  position: absolute;
  top: 235px;
  left: 38px;
  width: 752px;
  height: 32px;
  background-color: #abbbe4;
}

.choferes-registros .linea-3 {
  position: absolute;
  top: 190px;
  left: 38px;
  width: 752px;
  height: 32px;
  background-color: #eeeeee;
}

.choferes-registros .linea-2 {
  position: absolute;
  top: 147px;
  left: 38px;
  width: 752px;
  height: 32px;
  background-color: #abbbe4;
}

.choferes-registros .linea-1 {
  position: absolute;
  top: 97px;
  left: 38px;
  width: 752px;
  height: 32px;
  background-color: #eeeeee;
}

.choferes-registros .encabezado-table {
  position: absolute;
  top: 44px;
  left: 38px;
  width: 752px;
  height: 32px;
  background-color: #f7ce58;
}

.choferes-registros .firsttext-line-7 {
  top: 383px;
  left: 84px;
  position: absolute;
  width: 24px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .firsttext-line-6 {
  top: 336px;
  left: 84px;
  position: absolute;
  width: 24px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .firsttext-line-5 {
  top: 288px;
  left: 84px;
  position: absolute;
  width: 24px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .firsttext-line-4 {
  top: 246px;
  left: 85px;
  position: absolute;
  width: 24px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .firsttext-line-3 {
  top: 201px;
  left: 84px;
  position: absolute;
  width: 24px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .firsttext-line-2 {
  top: 157px;
  left: 84px;
  position: absolute;
  width: 24px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .firsttext-line-1 {
  top: 106px;
  left: 84px;
  position: absolute;
  width: 24px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .text-2 {
  position: absolute;
  top: 106px;
  left: 172px;
  width: 82px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .encabezado-1 {
  position: absolute;
  top: 53px;
  left: 68px;
  width: 84px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .encabezado-2 {
  position: absolute;
  top: 53px;
  left: 181px;
  width: 79px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .encabezado-4 {
  position: absolute;
  top: 53px;
  left: 522px;
  width: 57px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .text-5 {
  position: absolute;
  top: 106px;
  left: 687px;
  width: 62px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .text-4 {
  position: absolute;
  top: 106px;
  left: 473px;
  width: 164px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .encabezado-5 {
  position: absolute;
  top: 53px;
  left: 689px;
  width: 47px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .encabezado-3 {
  position: absolute;
  top: 53px;
  left: 331px;
  width: 63px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .text-3 {
  position: absolute;
  top: 106px;
  left: 308px;
  width: 114px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .seccion-name {
  top: 96px;
  left: 255px;
  font-family: "Urbanist-ExtraBold", Helvetica;
  font-weight: 800;
  font-size: 40px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.choferes-registros .top {
  position: absolute;
  top: 17px;
  left: 404px;
  width: 807px;
  height: 66px;
}

.choferes-registros .banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 950px;
  height: 66px;
  background-color: #919ec0;
}

.choferes-registros .iconapp {
  position: absolute;
  top: 13px;
  left: 659px;
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
}

.choferes-registros .title-app {
  position: absolute;
  top: 9px;
  left: 23px;
  width: 622px;
  font-family: "Urbanist-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 35px;
  letter-spacing: 8.80px;
  line-height: normal;
}

.botones button {
  all: unset;
  cursor: pointer;
  display: block;
  transform: scale(0.85);
  transform-origin: center;
}

.botones button:hover {
  transform: scale(1.05);
  transition: 0.2s ease;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.botones button:active{
  transform: scale(0.97);
  transition: 0.1s ease;
}

.choferes-registros .agregar-botn {
  position: absolute;
  top: 258px;
  left: 1050px;
}

.choferes-registros .agregar {
  background-color: #f7ce58;
  border: none;
  border-radius: 9px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.choferes-registros .agregar:hover {
  background-color: #ffd84f;
  transform: scale(1.05);
}

.choferes-registros .button-name {
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.choferes-registros .iconagg {
  width: 16px;
  height: 16px;
}
