.duenos_pagos {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1140px;
  min-height: 100vh;
  position: relative;
}

.duenos_pagos .botones {
  position: absolute;
  top: 25px;
  left: 20px;
  width: 192px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #d5d6d6;
  border-radius: 55px;
}

.duenos_pagos .alumnos {
  margin-left: 31px;
  width: 120px;
  height: 135px;
  position: relative;
  margin-top: 34px;
  background-color: #919ec0;
  border-radius: 41px;
  overflow: hidden;
  border: 0px solid;
  box-shadow: 0px 4px 4px #00000040;
  aspect-ratio: 1;
}

.duenos_pagos .iconalum {
  position: absolute;
  top: calc(50.00% - 32px);
  left: calc(50.00% - 60px);
  width: 118px;
  height: 50px;
  aspect-ratio: 2;
}

.duenos_pagos .iconalum-name {
  top: 90px;
  left: 25px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 550;
  font-size: 16px;
  text-align: center;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.duenos_pagos .pagos {
  margin-left: 28px;
  width: 125px;
  height: 129px;
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  gap: 2.8px;
  background-color: #919ec0;
  border-radius: 41px;
  overflow: hidden;
  border: 0px solid;
  box-shadow: 0px 4px 4px #00000040;
  aspect-ratio: 1;
}

.duenos_pagos .iconpag {
  position: absolute;
  top: calc(50.00% - 45px);
  left: calc(50.00% - 60px);
  width: 118px;
  height: 70px;
  aspect-ratio: 2;
}

.duenos_pagos .iconpag-name {
  top: 90px;
  left: 38px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 550;
  font-size: 16px;
  text-align: center;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.duenos_pagos .registros {
  margin-left: 29px;
  width: 125px;
  height: 129px;
  position: relative;
  margin-top: 23px;
  background-color: #919ec0;
  border-radius: 41px;
  overflow: hidden;
  border: 0px solid;
  box-shadow: 0px 4px 4px #00000040;
  aspect-ratio: 1;
}

.duenos_pagos .iconreporte {
  position: absolute;
  top: calc(50.00% - 45px);
  left: calc(50.00% - 45px);
  width: 90px;
  height: 70px;
}

.duenos_pagos .iconlibro {
  position: absolute;
  width: 21.85%;
  top: calc(50.00% - 27px);
  left: 55.26%;
  height: 40px;
}

.duenos_pagos .iconlibro-name {
  position: absolute;
  width: 40%;
  height: 11.09%;
  top: 78.15%;
  left: 22.05%;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 550;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.duenos_pagos .rutas {
  margin-left: 29px;
  width: 129px;
  height: 129px;
  position: relative;
  margin-top: 16px;
  background-color: #919ec0;
  border-radius: 41px;
  overflow: hidden;
  border: 0px solid;
  box-shadow: 0px 4px 4px #00000040;
  aspect-ratio: 1;
}

.duenos_pagos .iconrut {
  position: absolute;
  top: 20px;
  left: calc(50.00% - 38px);
  width: 70px;
  height: 67px;
}

.duenos_pagos .iconrut-name {
  position: absolute;
  height: 13.09%;
  top: 75.99%;
  left: calc(50.00% - 22px);
  width: 35px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 550;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.duenos_pagos .table {
  position: absolute;
  top: 162px;
  left: 355px;
  width: 844px;
  height: 457px;
}

.duenos_pagos .group-table {
  position: absolute;
  top: 0;
  left: 0;
  width: 844px;
  height: 457px;
}
 
.duenos_pagos .last {
  position: absolute;
  top: 0;
  left: 0;
  width: 835px;
  height: 457px;
  background-color: #919ec0a8;
}
/*borde superior 919cec0a8*/

/*centro de la tabla*/
.duenos_pagos .post {
  position: absolute;
  top: 26px;
  left: 27px;
  width: 775px;
  height: 399px;
  background-color: #d9d9d9;
}

.duenos_pagos .encabezado-table {
  position: absolute;
  top: -30px;
  left: 0px;
  width: 845px;
  height: 32px;
  background-color: #f7ce58;
}

.duenos_pagos .seccion-name {
  top: 96px;
  left: 255px;
  font-family: "Urbanist-ExtraBold", Helvetica;
  font-weight: 800;
  font-size: 40px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.duenos_pagos .top {
  position: absolute;
  top: 17px;
  left: 404px;
  width: 807px;
  height: 66px;
}

.duenos_pagos .banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 950px;
  height: 66px;
  background-color: #919ec0;
}

.duenos_pagos .iconapp {
  position: absolute;
  top: 13px;
  left: 659px;
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
}

.duenos_pagos .title-app {
  position: absolute;
  top: 9px;
  left: 23px;
  width: 622px;
  font-family: "Urbanist-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 35px;
  letter-spacing: 8.80px;
  line-height: normal;
}

.botones button {
  all: unset;
  cursor: pointer;
  display: block;
  transform: scale(0.85);
  transform-origin: center;
}

.botones button:hover {
  transform: scale(1.05);
  transition: 0.2s ease;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.botones button:active{
  transform: scale(0.97);
  transition: 0.1s ease;
}

.duenos_pagos .agregar-botn {
  position: absolute;
  top: 105px;
  left: 908px;
}

.duenos_pagos .agregar {
  background-color: #f7ce58;
  border: none;
  border-radius: 9px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.duenos_pagos .agregar:hover {
  background-color: #ffd84f;
  transform: scale(1.05);
}

.duenos_pagos .button-name {
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.duenos_pagos .iconagg {
  width: 16px;
  height: 16px;
}

/* Tabla principal */
.duenos_pagos .table {
  position: absolute;
  top: 200px; /* ajusta según tu diseño */
  left: 355px;
  width: 844px;
  border-collapse: collapse;
  font-family: "Urbanist-Medium", Helvetica;
}

/* Encabezado de la tabla */
.encabezado-table {
  display: flex;
  background-color: #f7ce58;
  font-weight: bold;
  width: 100%;
  height: 32px;
  position: relative; /* relativo para que filas queden debajo */
  margin-bottom: 2px;
}

.encabezado-table div {
  flex: 1;
  text-align: center;
  line-height: 32px;
  border: 1px solid #ccc;
}

/* Filas dinámicas */
.row {
  display: flex;
  width: 100%;
}

.row div {
  flex: 1;
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: normal;
}

/* Colores alternos */
.row:nth-child(even) {
  background-color: #eeeeee;
}

.row:nth-child(odd) {
  background-color: #abbbe4;
}
