.login-chferes {
  background-color: #919ec0;
  width: 100%;
  min-width: 1122px;
  min-height: 678px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-chferes .login {
  position: relative;
  width: 470px;
  height: 600px;
}

.login-chferes .rectangle {
  position: absolute;
  top: 55px;
  left: 0;
  width: 465px;
  height: 520px;
  background-color: #ffffff;
  box-shadow: 6px 4px 4px #00000059;
  border-radius: 15px;
}

.login-chferes .generic-avatar {
  position: absolute;
  top: 20px;
  left: 156px;
  width: 160px;
  height: 160px;
}

.login-chferes .text-wrapper-4 {
  position: absolute;
  top: 175px;
  left: 120px;
  width: 251px;
  font-family: "Urbanist-Black", Helvetica;
  font-weight: 900;
  color: #919ec0;
  font-size: 40px;
  text-align: center;
}

.login-chferes .text-wrapper-3,
.login-chferes .text-wrapper-2 {
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  position: absolute;
  left: 77px;
}

.login-chferes .text-wrapper-3 {
  top: 255px;
}

.login-chferes .text-wrapper-2 {
  top: 345px;
}

.input-container-user {
  position: absolute;
  left: 77px;
  width: 310px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #d9d9d98a;
  border: 1px solid #00000099;
  border-radius: 9px;
  box-shadow: 0px 4px 4px #00000040;
  padding: 0 10px;
}

.input-container-password {
  position: absolute;
  left: 77px;
  width: 310px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #d9d9d98a;
  border: 1px solid #00000099;
  border-radius: 9px;
  box-shadow: 0px 4px 4px #00000040;
  padding: 0 10px;
}

.input-container-user {
  top: 280px;
}

.input-container-password {
  top: 370px;
}

.input-text {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
  color: #333;
  font-family: "Urbanist-Medium", Helvetica;
}

.user-icon,
.eye {
  width: 21px;
  height: 21px;
  margin-left: 8px;
  opacity: 0.7;
  cursor: pointer;
}

.login-chferes .log-in-botn {
  position: absolute;
  top: 460px;
  left: 77px;
  width: 310px;
  height: 45px;
  background-color: #f7ce58;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  font-family: "Urbanist-ExtraBold", Helvetica;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 800;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.login-chferes .log-in-botn:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 6px #00000050;
}

.login-chferes .div-wrapper {
  position: absolute;
  top: 525px;
  left: 100px;
  width: 250px;
  height: 20px;
  display: flex;
  justify-content: center;
}

.login-chferes .text-wrapper-5 {
  font-family: "Urbanist-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #919ec0;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s;
}

.login-chferes .text-wrapper-5:hover {
  color: #5c6aa0;
}

.login-chferes .div-wrapper {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}