.recuperar-contrasea {
  background-color: #919ec0;
  aspect-ratio: 1.65;
  width: 100%;
  min-width: 1122px;
  min-height: 678px;
  position: relative;
}

.recuperar-contrasea .rectangle-blanco {
  position: absolute;
  top: 58px;
  left: 400px;
  width: 533px;
  height: 590px;
  background-color: #ffffff;
  box-shadow: 6px 4px 4px #00000059;
}

.recuperar-contrasea .rectangulo-gris {
  position: absolute;
  top: 271px;
  left: 325px;
  width: 385px;
  height: 40px;
  background-color: #d9d9d98a;
  border-radius: 9px;
  border: 1px solid;
  border-color: #00000099;
  box-shadow: 0px 4px 4px #00000040;
}

.recuperar-contrasea .title-seccion {
  position: absolute;
  top: 122px;
  left: 450px;
  width: 361px;
  font-family: "Urbanist-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.recuperar-contrasea .atras {
  position: absolute;
  top: 77px;
  left: 420px;
  width: 34px;
  height: 34px;
  aspect-ratio: 1;
}

.recuperar-contrasea .rectangle-amarillo {
  position: absolute;
  top: 420px;
  left: 380px;
  width: 363px;
  height: 42px;
  background-color: #f7ce58;
  border-radius: 15px;
}

.recuperar-contrasea .title-btn {
  position: absolute;
  width: 69.42%;
  height: 69.05%;
  top: 16.67%;
  left: 35.15%;
  font-family: "Urbanist-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.recuperar-contrasea .p {
  position: absolute;
  top: 184px;
  left: 450px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #0000009c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.recuperar-contrasea .text-negritas {
  position: absolute;
  top: 231px;
  left: 450px;
  font-family: "Urbanist-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.input-container-user {
  position: absolute;
  left: 450px;
  width: 310px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #d9d9d98a;
  border: 1px solid #00000099;
  border-radius: 9px;
  box-shadow: 0px 4px 4px #00000040;
  padding: 0 10px;
}

.input-container-user {
  top: 280px;
}

.input-text {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
  color: #333;
  font-family: "Urbanist-Medium", Helvetica;
}

.recuperar-contrasea .atras {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.recuperar-contrasea .log-in-botn {
  position: absolute;
  top: 420px;
  left: 545px;
  width: 250px;
  height: 35px;
  background-color: #f7ce58;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  font-family: "Urbanist-ExtraBold", Helvetica;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 800;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.recuperar-contrasea .log-in-botn:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 6px #00000050;
}
